@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway/raleway-bold.woff2') format('woff2'),
    url('../fonts/raleway/raleway-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway/raleway-light.woff2') format('woff2'),
    url('../fonts/raleway/raleway-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway/raleway-regular.woff2') format('woff2'),
    url('../fonts/raleway/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    font-family: ralewayregular, sans-serif;
}

/*layout*/
header, section, footer {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

/*header*/

header {
    height: 40px;
    line-height: 40px;
    background-color: black;
    color: white;
    font-size: 13px;
    letter-spacing: 1.1px;
}

.logo {
    float: left;
    text-transform: uppercase;
    margin-left: 70px;
}

.important_text {
    color: #24ba9f;
    font-family: ralewaybold, sans-serif;
}

nav {
    float: right;
    margin-right: 77px;
    font-weight: bold;
}

nav ul {
    margin: 0;
    padding: 0;
    font-family: ralewaybold, sans-serif;
}

nav > ul > li {
    display: inline-block;
    text-transform: uppercase;
    list-style-type: none;
    cursor: pointer;
    position: relative;
}

nav > ul > li+li {
    margin-left: 38px;
}

/*dropdown menu*/


.dropdown {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 35px;
    right: -35px;
}

.dropdown > ul > li {
    width: 110px;
    height: 32px;
    background-color: black;
    text-align: left;
    line-height: 32px;
    padding-left: 15px;
    text-transform: capitalize;
    font-family: ralewayregular, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.dropdown-square {
    position: relative;
    width: 20px;
    height: 20px;
    top: 10px;
    margin: 0 auto;
    background-color: black;
    transform: rotate(45deg);
}

/*slider*/

.slider {
    height: 505px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(203,202,207,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(203,202,207,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(203,202,207,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cbcacf',GradientType=0 ); /* IE6-9 */
}

.slider > div {
    float: left;
}

.slider .nav {
    color: #24ba9f;
    font-size: 70px;
    line-height: 505px;
    padding: 0 40px 0 70px;
    cursor: pointer;
}

.slider .right {
    padding: 0 40px 0 80px;
}

.slider .images {
    width: 400px;
    height: 505px;
}

.images ul li.img_black {
    background-image: url("../images/black_chair.png");
    width: 400px;
    height: 505px;
    background-size: 148%;
    background-repeat: no-repeat;
    background-position: 60% 80%
}

.images ul li.img_orange {
    background-image: url("../images/orange_chair.png");
    width: 400px;
    height: 505px;
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: 60% 80%
}

.images ul li.img_red {
    background-image: url("../images/red_chair.png");
    width: 400px;
    height: 505px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 60% 60%
}

.images ul {
    list-style: none;
}

.images ul li {
    display: none;
    height: 200px;
    width: 80px;
    margin-top: -20px;
    margin-left: -50px;
}

.images .visible {
    display: inline-block;
}

.product_description {
    width: 445px;
    text-align: center;
    margin: 134px 0 0 0;
    font-family: ralewayregular, sans-serif;
}

.product_description h1 {
    font-size: 37px;
    margin: 0;
    letter-spacing: 1.1px;
}

.product_description p {
    padding: 20px;
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 1.1px;
}

.product_description button {
    background-color: #24ba9f;
    border-radius: 12px;
    border: none;
    color: white;
    font-size: 24px;
    padding: 15px 40px;
    font-family: ralewayregular, sans-serif;
    cursor: pointer;
}

/*3 boxes*/

.boxes {
    height: 330px;
    padding-top: 24px;
}

.boxes > div {
    width: 330px;
    height: 225px;
    float: left;
    box-sizing: border-box;
}

.boxes > div:first-child {
    margin-left: 65px;
    background-image: url("../images/box1_img.jpg");
}

.boxes > div:nth-child(2) {
    background-image: url("../images/box2_img.jpg");
}

.boxes > div:nth-child(3){
    width: 340px;
    height: 255px;
    border: 1px solid lightgrey;
}

.boxes div+div {
    margin-left: 28px;
}

.bar {
    position: relative;
    margin-top: 150px;
    background: rgba(255,255,255,0.4);
    width: 100%;
    padding: 14px 25px 25px 17px;
    font-size: 16px;
    font-family: ralewaybold, sans-serif;
    box-sizing: border-box;
}

.bar span::after {
    content: "";
    border-bottom: 7px solid #24ba9f;
    width: 140px;
    display: block;
    position: absolute;
}

.top {
    margin-top: 15px;
    padding-left: 20px;
    width: 340px;
    box-sizing: border-box;
}

.top p {
    font-family: ralewaylight, sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding-top: 8px;
}

/*pricelist*/

.pricelist {
    background-color: #F1F1F1;
}

.plan {
    height: 635px;
    font-family: ralewayregular, sans-serif;
    margin-left: 65px;
}

.pricelist h2 {
    padding-top: 43px;
    padding-left: 65px;
    color: #575757;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 1.1px;
}

.pricelist h2::after {
    content: "";
    border-bottom: 7px solid #24ba9f;
    width: 330px;
    display: block;
    position: absolute;
}

.column {
    width: 328px;
    height: 500px;
    margin-top: 65px;
    float: left;
    box-sizing: border-box;
    position: relative;
}

.column+.column {
    margin-left: 33px;
}

.basic {
    background-color: #F9F9F9;
    border: 2px solid lightgrey;
}

.column .circle_decoration {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    border: 2px solid lightgrey;
    position: absolute;
    margin: -38px 135px;
    background-color: white;
}

.column .white {
    border: 2px solid lightgrey;
    background-color: white;
}

.column .circle_decoration div {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    position: absolute;
    top: 13px;
    left: 13px;
}

.column .white .grey {
    background-color: silver;
}

.standard {
    background-color: #24ba9f;
    border: 2px solid #24ba9f;
}

.column .green {
    border: 2px solid #24ba9f;
    background-color: #24ba9f;
}

.column .plain {
    background-color: white;
}

.column h3 {
    text-align: center;
    margin-top: 24px;
    font-size: 24px;
    color: #29ba9f;
    font-family: ralewaylight, sans-serif;
}

.standard h3 {
    color: white;
}

.price {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 2px solid lightgrey;
    text-align: center;
    margin: 25px auto;
    font-weight: bold;
    color:silver;
    background-color: white;
}

.plan .middle {
    color: #29ba9f;
}

.plan .second {
    border-color: #29ba9f;
}

.price_value {
    text-align: center;
    margin-top: 25px;
    font-family: ralewaybold, sans-serif;
    font-size: 45px;
}

.price_value sup {
    vertical-align: 25px;
    font-size: 14px;
}

.price_unit {
    font-size: 16px;
}

.details {
    width: 100%;
    font-size: 24px;
    text-align: center;
    line-height: 45px;
    color: grey;
    padding-top: 15px;
}

.grey_details {
    height: 45px;
    background-color: #e2e2e2;
}

.lightgrey_details {
    height: 45px;
    background-color: #F1F1F1;
}

.white_details {
    height: 45px;
    background-color: white;
}

.column button {
    position: absolute;
    bottom: 15px;
    width: 125px;
    height: 35px;
    left: 105px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #29ba9f;
    color: white;
    border: none;
    cursor: pointer;
}

button.center {
    background-color: white;
    color: #29ba9f;
}

/*kontakt*/

.contact {
    position: relative;
    height: 530px;
}

.contact h2 {
    padding-top: 10px;
    padding-left: 65px;
    color: #575757;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 1.1px;
}

.contact h2::after {
    content: "";
    border-bottom: 7px solid #24ba9f;
    width: 330px;
    display: block;
    position: absolute;
}

.contact form label input, textarea {
    outline: none;
}

.contact label {
    position: absolute;
    left: 72px;
}

.contact form label:nth-child(1) {
    float: left;
    top: 98px;
    height: 66px;
}
.contact form label:nth-child(1) input {
    font-size: 34px;
    width: 636px;
    padding: 14px 0 9px 11px;
    font-family: ralewayregular, sans-serif;
    box-sizing: border-box;
    border: 1px solid #29ba9f;
}

.contact form label:nth-child(2) {
    float: left;
    top: 190px;
}

.contact form label:nth-child(2) input {
    font-size: 34px;
    width: 635px;
    padding: 14px 0 9px 11px;
    font-family: ralewayregular, sans-serif;
    box-sizing: border-box;
    border: 1px solid #29ba9f;
}

.contact form label:nth-child(3) {
    float: left;
    top: 280px;
}

.contact form label:nth-child(3) textarea {
    font-size: 34px;
    width: 635px;
    padding: 11px 0 16px 11px;
    font-family: ralewayregular, sans-serif;
    box-sizing: border-box;
    border: 1px solid #29ba9f;
}


textarea[name=message] {
    resize: none;
}

.contact form .check {
    display: block;
    width: 350px;
    height: 58px;
    position: absolute;
    top: 315px;
    left: 758px;
    font-size: 20px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.5);
}

.contact form .check input {
    float: left;
    display: block;
    width: 49px;
    height: 49px;
    margin-right: 13px;
    margin-top: -2px;
    margin-left: 6px;
    background-color: white;
    border: none;
}

.contact form .check input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #29ba9f;
}

.contact form .check input[type=checkbox]:checked {
    background: url("../images/form_ok.jpg") no-repeat -2px 6px;
    border: 1px solid #29ba9f;
}

.contact form input[name=send] {
    position: absolute;
    bottom: 60px;
    right: 94px;
    width: 343px;
    height: 71px;
    border: none;
    border-radius: 10px;
    font-family: ralewaybold, sans-serif;
    font-size: 32px;
    background-color: #29ba9f;
    color: white;
    cursor: pointer;
}

.contact img {
    position: absolute;
    top: 70px;
    right: 154px;
}

/*footer*/

footer {
    height: 100px;
}

.footerText {
    float: left;
    margin-right: 278px;
    margin-left: 68px;
    margin-top: 40px;
    word-spacing: 4px;
    color: rgba(0, 0, 0, 0.5);
}

footer img {
    display: block;
    float: left;
    padding-top: 25px;
    padding-left: 5px;
    cursor: pointer;
}

.footerLogo {
    float: right;
    margin-right: 80px;
    padding-top: 35px;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.5);
}

.important_text2 {
    font-family: ralewaybold, sans-serif;
}

/*kalkulator*/

.choice_part {
    margin-left: 65px;
}

.own {
    width: 300px;
}

.application {
    background-color: #f9f9f9;
    padding:30px 0;
}

.own h3 {
    color: #575757;
    font-size: 20px;
}

.application .align_right{
    text-align: right;
}

.inline {
    display:inline-block;
    width:300px;
    padding:14px;
    vertical-align: top;
}


.form {
    margin-top:50px;
}
.drop_down_list {
    border:1px solid #8de0d2;
    width: 280px;
    height:38px;
    background-color: white;
    margin-top:22px;
    padding: 8px 12px;
    position: relative;
}

.list_label {
    font-size: 30px;
    color: #e2e2e2;
    font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}


.checkbox {
    position: relative;
    padding: 30px 30px 30px 0;
}
.checkbox input {
    display: block;
    opacity: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    cursor: pointer;
}

.checkbox label {
    display: block;
    padding-left: 65px;
    position: relative;
    font-size: 28px;
    color: #cecece;
    line-height: 120%;
    padding-top: 10px;
    cursor: pointer;
}

.checkbox label::before, .checkbox label::after {
    border: 1px solid #27c7ab;
    content: "";
    display: block;
    left: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    top: 0;
}
.checkbox label::after {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
    border: 0;
    display: none;
}

.checkbox input:checked + label::after {
    display: block;
}


.active {
    background: url('../images/form_ok.jpg');
    width: 48px;
    height: 40px;

}
.inline_text {
    display: inline-block;
    width: 228px;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 15px;
    color: #aeaeae;
}

.image_part {
    margin-left: 50px;
}

.image_part img{
    margin-top: 110px;
    margin-left: 38px;
}


.application .green_bell {
    background-color: #24baa0;
    width: 200px;
    height: 7px;
    display: inline-block;
    margin: 0 0 5px 0;
}

.summary_part {
    margin-left: 80px;
}

.summary_panel {
    background-color: white;
    width:300px;
    height:195px;
    padding:10px;
    margin-top: 50px;

}

.application .green_button {
    background-color: #27c7ab;
    color: white;
    text-align:center;
    text-transform: uppercase;
    width: 200px;
    padding: 10px 30px;
    font-size: 24px;
    display: inline-block;
    font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
    margin-top: 20px;
    margin-left: 29px;
    border-radius: 8px;
    text-decoration: none;
}
.panel_left {
    display: inline-block;
    width: 185px;
    vertical-align: top;
    padding-bottom:10px;
    border-bottom:1px solid #e7e7e7;
    height: 135px;
}

.panel_right {
    display: inline-block;
    width: 100px;
    border-left:1px solid #e7e7e7;
    text-align: right;
    vertical-align: top;
    padding-bottom:10px;
    border-bottom:1px solid #e7e7e7;
    height: 135px;
}

.panel_left h4 , .panel_right h4{
    color: #24baa0;
    font-size: 23px;
    margin: 0;
}

.panel_left span{
    margin-top:10px;
    font-size: 22px;
    color: #5b5a5a;
    display: block;
}

.panel_right span {
    display: block;
    font-size: 22px;
    color: #24baa0;
    margin-top:10px;
}
.sum_label{
    display: inline-block;
    width: 185px;
    margin-top: 10px;
    font-size: 22px;
    color: #5b5a5a;
}

.sum {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-top: 10px;
    font-size: 22px;
    color: #24baa0;
}

.list_arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #24baa0;
    display:block;
    position: absolute;
    right: 14px;
    top: 20px;
    cursor: pointer;
}

.list_panel {
    background-color: white;
    border: 1px solid #ccc;
    width: 288px;
    padding-left: 15px;
    padding-bottom: 10px;
    list-style: none;
    margin: 0;
    left: 0px;
    z-index: 2;
    position: absolute;
    top: 54px;
    display:none;
}
.list_panel li {
    margin-top:10px;
    cursor: pointer;
    color: #585858;
}

.title {
    height: 30px;
}

.visible {
    display: block;
}